*{
	box-sizing: border-box
}

body{
	margin:0;
	font-family: helvetica;
	background-color: #ffffff;  
}

nav {
	background-color: white;
	position: fixed;
	width: 100%;
	top:0;
	padding: 20px 10px;
	border-bottom: 1px lightgrey solid;
} 

.latest-videoswrapper{
	max-width: 1400px;
	margin:0 auto 60px;
	display: grid;
}

/*@media (max-width:1040px) {
	latest-videoswrapper { 
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width:600px) {
	.latest-videoswrapper { 
		grid-template-columns: 1fr 1fr;
	}
}*/

.menuicon {
	width: 25px;
	position:relative;
	left:10px;
}

.logoicon {
	width: 150px;
	position: absolute;
	left: 550px;
	top: 10px;
}

.searchicon{
	width: 35px;
	position: absolute;
	left: 1050px;
	bottom: 28px;
}

.vidicon{
	width: 35px;
	position: absolute;
	left: 1112px;
	bottom: 28px;
}

.regicon{
	width: 35px;
	position: absolute;
	left: 1180px;
	bottom: 28px;
}

.secondnavbar{
	position:absolute;
	top:80px;
	left:470px;
}

a {
	text-decoration: none;
	color: grey;
	font-family: helvetica sans-serif;
	font-weight: normal;
	font-size: 12px;
}

.series{
	float:left;
	padding-right: 40px;
}

.channels{
	float:left;
	padding-right: 40px;
}

.topics{
	float:left;
	padding-right: 40px;
}

.picks{
	float:left;
	padding-right: 40px;
}

.featurevideo{
	/*background-color: grey;*/
	width:100%;
	height:556px;
	margin-top: 120px;
	position:relative;
	top:0px;
	display:block;
}

img{
	display: block;
}

.play{
	width:60px;
	position: relative;
	left: 600px;
	bottom: 300px;
}

h1{
	color:white;
	font-size: 45px;
	text-align: center;
	position:relative;
	right:18px;
	bottom:300px;
}

p {
	color: white;
	font-size: 14px;
	text-align: center;
	right:18px;
}

.date {
	position:relative;
	right:20px;
	bottom:290px;
}

.description {
	position:relative;
	bottom:315px;
}

.SubfeatVid{
	border-bottom: 1px solid #c9a16e;
	padding-bottom: 60px; 
}

.subvid1{
	background-color:red;
	width:48.5%;
	height:400px;
	position:relative;
	top:30px;
	padding-right: 20px;
	float: left;
}

.subvid2{
	background-color:red;
	width:48.5%;
	height:400px;
	position:relative;
	top:30px;
	float:right;
}

.SV1{

	background-size:contain;
	background-repeat: no-repeat 50%;
	width:105%;
	height:100%;
}

.homepageplayer{
	width:100%;
	padding: 25px 0 30px 0;
	border-bottom: 1px solid #c9a16e;

}

.vid{
	width:220px;
	margin:0 25px 0 25px;
	float: left;
}

.timeline{
	color: black;
	font-size: 13px;
	font-weight: lighter;
	padding-left: 8px;
	margin:0 0 8px;
	text-align: center;
}

.vidname{
	color: black;
	font-size: 14px;
	font-weight: 200;
	padding-left: 10px;
	text-align: center;
}

.mh{
	position:absolute;
	left:450px;
	margin: 30px 0 0 47px;
	font-family: helvetica;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    line-height: 1.25;
    letter-spacing: .09em;
}

.memvid{
	width: 100%;
	height: 400px;
	position: relative;
	top:80px;
	background-size: cover;
}